@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:is(.dark *));

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans: 'Rubik', sans-serif;
}

@theme inline {
    /* --radius-sm: calc(var(--radius) - 4px); */
    /* --radius-md: calc(var(--radius) - 2px); */
    /* --radius-lg: var(--radius); */
    /* --radius-xl: calc(var(--radius) + 4px); */
    /* --radius-2xl: calc(var(--radius) + 8px); */
    /* --radius-3xl: calc(var(--radius) + 12px); */
    /* --radius-4xl: calc(var(--radius) + 16px); */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --color-brand-primary-100: #fcc7a1;
    --color-brand-primary-200: #f98f43;
    --color-brand-primary-300: #f76d0b;
    --color-brand-primary-400: #c25406;
    --color-brand-primary-500: #893c04;
    --color-brand-primary-10: #f98f431a;

    --color-brand-secondary-100: #cedeec;
    --color-brand-secondary-200: #9dbcd8;
    --color-brand-secondary-300: #6c9bc5;
    --color-brand-secondary-400: #4378a9;
    --color-brand-secondary-500: #2f5576;
    --color-brand-secondary-10: #6c9bc51a;

    --color-brand-tertiary-100: #e29a86;
    --color-brand-tertiary-200: #d36849;
    --color-brand-tertiary-300: #a84529;
    --color-brand-tertiary-400: #6b2c1a;
    --color-brand-tertiary-500: #401a0f;
    --color-brand-tertiary-10: #6b2c1a1a;
    --color-brand-tertiary-50: #6b2c1a80;

    --color-info: #1f45c1;

    --color-error-100: #fb3748;
    --color-error-200: #d00416;
    --color-error-10: #fb37481a;

    --color-warning-100: #ffdb43;
    --color-warning-200: #dfb400;
    --color-warning-10: #ffdb431a;

    --color-success-100: #84ebb4;
    --color-success-200: #1fc16b;
    --color-success-10: #1fc16b1a;

    --color-brand-neutral-100: #e7e7e3;
    --color-brand-neutral-200: #d3d3cc;
    --color-brand-neutral-300: #bebeb5;
    --color-brand-neutral-400: #aaaa9e;
    --color-brand-neutral-500: #959588;
    --color-brand-neutral-600: #7f7f73;
    --color-brand-neutral-700: #67675f;
    --color-brand-neutral-800: #50504a;
    --color-brand-neutral-900: #3a3a36;
    --color-brand-neutral-1000: #232321;
    --color-brand-neutral-10: #2323211a;

    --color-brand-neutral-alt-100: #f0f2f5;
    --color-brand-neutral-alt-200: #e2e4ea;
    --color-brand-neutral-alt-300: #d3d7e0;
    --color-brand-neutral-alt-400: #c5cad6;
    --color-brand-neutral-alt-500: #9ea6ba;
    --color-brand-neutral-alt-600: #6c7896;
    --color-brand-neutral-alt-700: #475065;
    --color-brand-neutral-alt-800: #242832;
    --color-brand-neutral-alt-900: #121419;
    --color-brand-neutral-alt-50: #fafbfc;

    --color-brand-shade-white: #fafafa;
}

:root {
    /* --radius: 0.625rem; */
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}

@layer components {
    .hero-gradient {
        @apply bg-linear-to-b from-[#f98f4380] from-5% to-[#f98f430d] to-100%;
    }

    .banner-gradient {
        @apply after:absolute after:inset-0 after:w-full after:bg-linear-to-b after:from-transparent after:from-80% after:to-black/20 after:to-100%;
    }

    .category-gradient {
        @apply after:absolute after:inset-0 after:w-full after:bg-linear-to-b after:from-transparent after:from-60% after:to-white after:to-100%;
    }

    .style-dashed-borders {
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%239EA6BAFF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
        border-radius: 0.75rem;
    }
}

[data-aos='mute-text'] {
    @apply opacity-100 transition-all duration-1000;
}

[data-aos='mute-text'].aos-animate {
    @apply opacity-20 transition-all;
}

[data-aos='unmute-text'] {
    @apply translate-y-5 opacity-20 transition-all duration-1000;
}

[data-aos='unmute-text'].aos-animate {
    @apply translate-y-0 opacity-100;
}

/* Hide Scroll bar for dev purposes */
::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera, Edge (Chromium) */
}

.CollapsibleContent[data-state='open'] {
    animation: slideDown 250ms ease-out;
}
.CollapsibleContent[data-state='closed'] {
    overflow: hidden;
    animation: slideUp 250ms ease-out;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }
    to {
        height: 0;
    }
}
